body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

h1{ 
    margin-bottom: 10px; 
    text-align:center; 
    /* width: 210px;  */
    color: black; 
    /* border: solid black 2px;  */
    } 

input[type="button"] 
{ 
background-color : whitesmoke ; 
color: black; 
border: solid black 2px; 
width:80%;
height: 60%;
}

input[type="button"]:hover{
    background-color : mediumseagreen ; 
}

input[type="button"]:active{
    border : blueviolet double 1px; 
    background-color: brown;
}

#exp
{ 
color: black; 
border: solid black 2px;
margin-left:35%;
width:28%;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

table{
    width:30%;
	margin:auto;
	overflow:hidden;    
}
